<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><img src="/static/img/biscuit.png"/>Banter</a>
            <div class="nav-collapse">
                {% if bot %}
                <form id="android" method="post" action="{{ url_for('qq.edit_bot', channel=channel.id, bot=bot.name) }}" accept-charset="utf-8">
                {% else %}
                <form id="android" method="post" action="{{ url_for('qq.create_bot', channel=channel.id) }}" accept-charset="utf-8">
                {% endif %}
                    {{ form.hidden_tag() }}
                    <ul class="nav">
                        <li>
                            <a href="{{ url_for('qq.list_bots', channel=channel.id) }}">{{ channel.name }} Channel</a>
                        </li>
                        <li>
                            {% if bot %}
                                <label class="span2">{{ bot.name }} Bot</label>
                                <input type="hidden" name="name" value="{{ bot.name }}">
                            {% else %}
                                <input type="text" name="name" class="span2">
                            {% endif %}
                        </li>
                        <li>
                            <div id="flag">Activated {{ form.activated }}</div>
                        </li>
                    </ul>
                    <input id="code" type="hidden" name="code">
                    <button class="btn btn-primary">Save</button>
                </form>
            </div><!--/.nav-collapse -->
        </div><!-- /.navbar .container -->
    </div><!-- /.navbar-inner -->
</div><!-- /navbar -->
