{% extends "editor.html" %}

{% block style_block %}
<style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 43px;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .navbar .brand {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .navbar form {
        margin-bottom: 0px;
    }
    .navbar input {
        margin-top: 5px;
    }
    .navbar label {
        margin-bottom: 0px;
        margin-top: 10px;
    }
    #flag {
        margin-top: 8px;
        margin-left: 16px;
    }
</style>
{% endblock %}

{% block content %}
<div id="editor">{{ bot.code }}</div>

{% endblock content %}
