{% extends "base.html" %}

{% block content %}
    <h3>Edit Channel</h3>
    <form id="edit-channel" class="well form-horizontal"
          action="{{ url_for('qq.edit_channel', channel=form.id.data) }}" method="post" accept-charset="utf-8">
        <fieldset>
            {{ form.hidden_tag() }}
            <input type="hidden" name="mode" value="edit" />
            <div class="control-group">
                <div class="control-label">{{ form.id.label }}</div>
                <div class="controls">
                    {{ form.id|safe }}
                    {% if form.id.errors %}
                    <ul class="errors">
                        {% for error in form.id.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">{{ form.name.label }}</div>
                <div class="controls">
                    {{ form.name|safe }}
                    {% if form.name.errors %}
                        <ul class="errors">
                            {% for error in form.name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">{{ form.token.label }}</div>
                <div class="controls">
                    {{ form.token|safe }}
                    {% if form.token.errors %}
                    <ul class="errors">
                        {% for error in form.token.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Save Changes"/>
                    <a class="btn cancel" href="{{ url_for('qq.list_channels') }}">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock content %}
